<!DOCTYPE html>
<html>
  <head>
    <title>Blogan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if user_signed_in? %>
      <%= current_user.email %>
    <%- end %>
    <ul>
      <li><%= link_to "Home", root_path %>
      <li><%= link_to "List Posts", posts_path %>
      <%- if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%- else %>
        <li><%= link_to "Sign in", new_user_session_path %>
        <li><%= link_to "Sign up", new_user_registration_path %>
      <%- end %>
      </li>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
